{% extends 'core/base.html' %}

{% block content %}
    <div class="form-container" style="max-width: 400px; margin: 4rem auto;">
        <h2 style="text-align: center; margin-bottom: 1.5rem;">Login Portal</h2>

        {% if form.errors %}
            <p style="color: var(--danger); text-align: center;">Invalid username or password.</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <label style="font-weight: 600;">Username</label>
            <input type="text" name="username" required autofocus>

            <label style="font-weight: 600;">Password</label>
            <input type="password" name="password" required>

            <button type="submit" class="btn btn-primary w-full" style="width: 100%; margin-top: 1rem;">Secure Login</button>
        </form>

        <p style="text-align: center; margin-top: 1rem; font-size: 0.9rem; color: var(--text-muted);">
            Contact Admin to create an account.

         </p>

        <p style="text-align: center; margin-top: 1rem; font-size: 0.9rem; color: var(--text-muted);">
        <a href="{% url 'password_reset' %}" style="color: var(--primary);">Forgot Password?</a>
        </p>
    </div>
{% endblock %}